<header class="header">
    <div class="container header__container">
        <div class="logo">Cassini</div>
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item"><a routerLink="/" class="nav__link">Home</a></li>
                <li class="nav__item"><a routerLink="/about" class="nav__link">About</a></li>
                <li class="nav__item"><a routerLink="/projects" class="nav__link">Projects</a></li>
                <li class="nav__item"><a routerLink="/contact" class="nav__link">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>