<section id="skills" class="skills">
    <div class="container">
        <h2 class="section-title">Tech Stack</h2>
        <div class="skills__grid">
            <div class="skill-category">
                <h3 class="category-title">Frontend</h3>
                <div class="tags">
                    <span class="tag">Angular</span>
                    <span class="tag">TypeScript</span>
                    <span class="tag">RxJS</span>
                    <span class="tag">React</span>
                    <span class="tag">SCSS</span>
                    <span class="tag">HTML5</span>
                </div>
            </div>
            <div class="skill-category">
                <h3 class="category-title">Backend & Tools</h3>
                <div class="tags">
                    <span class="tag">ASP.NET Core Web API</span>
                    <span class="tag">.NET 8</span>
                    <span class="tag">Postgres</span>
                    <span class="tag">Rabbit MQ</span>
                    <span class="tag">Git</span>
                    <span class="tag">Docker</span>
                    <span class="tag">MassTransit</span>
                    <span class="tag">DataDog</span>
                    <span class="tag">Open Policy Agent (OPA)</span>
                    <span class="tag">Rego</span>
                </div>
            </div>
            <div class="skill-category">
                <h3 class="category-title">Methodologies</h3>
                <div class="tags">
                    <span class="tag">Agile</span>
                    <span class="tag">Scrum</span>
                    <span class="tag">TDD</span>
                    <span class="tag">CI/CD</span>
                </div>
            </div>
        </div>
    </div>
</section>
